ASPNETCORE_ENVIRONMENT="Development"
# MYSQL_HOST="db"
# MYSQL_PORT="3306"
# MYSQL_DATABASE="loomi_pdv"
# MYSQL_USER="root"
# MYSQL_PASSWORD="root"
# ConnectionStrings__DefaultConnection="Server=${MYSQL_HOST};Port=${MYSQL_PORT};Database=${MYSQL_DATABASE};User=${MYSQL_USER};Password=${MYSQL_PASSWORD};"
ConnectionStrings__DefaultConnection="Data Source=loomi_pdv.db"
JWT__SECRET="SuperSecretKeyForJwtTokenGeneration_AtLeast32Bytes!"
RESEND__APITOKEN=""
